<body class="main">
    
    <div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
       <em><h1 style="font-size: 40px; color: aliceblue; margin-top: 40%;"><span></span> Advanced  Certification Program in Java Full Stack Development. </h1></em>
          <h1 style="font-size: 20px; color: aliceblue;">(with 110% Job Guarantee)</h1>
          <h3 style="color: aliceblue;">Get hands-on practice in HTML, CSS, JavaScript, Core Java 8, Spring etc. <br>with the job guaranteed program and build your career in Full Stack Development. <br>
            Learn the essential  Full Stack development concepts from scratch</h3>
          
        </div>
      <div class="col-md-6 abc">
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="../assets/students.png" style="height: 800px;"  alt="">
       </div>
  
    </div>
    
  </div>
  </div>
  
  
  </body>
