<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card class="matclass">
                    <h1>Add New Class</h1>
                  <mat-card-content>
                
                    <div class="bootstrap-wrapper">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                               
                <form (ngSubmit)="formSubmit()">
                
                    <mat-form-field class="w100" appearance="outline">
                  
                       <mat-label>Class Name</mat-label>
                  
                       <input type="text" name="classname" matInput
                       placeholder="Enter here"
                       required 
                       [(ngModel)]="classroom.classname"
                       >
                  
                    </mat-form-field>
                
                    
                     <div class="container text-center mt15">
                        <button mat-raised-button color="primary">Add New Category</button>
                     </div>
                  
                  </form>
                            </div>
                        </div>
                    </div>
                
                  </mat-card-content>
                </mat-card> 
                

            </div>
        </div>
    </div>
</div>