<body>
    <section id="about">
        <div class="about-1">
            <br>
        
            <h1 style="font-size: 40px;" class="text-center">ABOUT US</h1>
            <p style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;nrol on our programming course &
                Join the biggest community of frontend Developers.
                Live Classes by Top tech Experts who have Been There,
                Done That | Regular 1:1 Mentorship. 750+ Partner Employers.
                For Working Professionals.
                Structured Learning Path.
                Placement Assistance.
                Join the biggest community of frontend Developers.
                Live Classes by Top tech Experts who have Been There,
                Done That | Regular 1:1 Mentorship. 750+ Partner Employers.
                For Working Professionals.
                Structured Learning Path.
                Placement Assistance.
                Join the biggest community of frontend Developers.
                Live Classes by Top tech Experts who have Been There,
                Done That | Regular 1:1 Mentorship. 750+ Partner Employers.
                For Working Professionals.
                Structured Learning Path.
                Placement Assistance.
                Join the biggest community of frontend Developers.
                Live Classes by Top tech Experts who have Been There,
                Done That | Regular 1:1 Mentorship. 750+ Partner Employers.
                For Working Professionals.
                Structured Learning Path.
                Placement Assistance.</p>
                
        </div>
        <br><br><br>
        <div class="about-2">
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-card class="hover">
                                <div class="text-center">
                                    <mat-icon><span class="material-symbols-outlined">
                                        donut_small
                                        </span></mat-icon>
                                    <h3>MISSION</h3>
                                    <hr>
                                    <p>hbjhsckjskjcbkjdsbcjknsdjcnkjhvgsacjnsbdcvh
                                        hvdjcshbscjkbscskjb
                                        hvdsjhcb
                                    </p>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="hover">
                                <div class="text-center">
                                    <mat-icon><span class="material-symbols-outlined">
                                        language
                                        </span></mat-icon>
                                    <h3>VISSION</h3>
                                    <hr>
                                    <p>hbjhsckjskjcbkjdsbcjknsdjcnkjhvgsacjnsbdcvh
                                        hvdjcshbscjkbscskjb
                                        hvdsjhcb
                                    </p>
                                </div>
                            </mat-card>
                        </div>
                        <div class="col-md-4">
                            <mat-card class="hover">
                                <div class="text-center">
                                    <mat-icon>assignment_ind</mat-icon>
                                    <h3>ACHIVEMENTS</h3>
                                    <hr>
                                    <p>hbjhsckjskjcbkjdsbcjknsdjcnkjhvgsacjnsbdcvh
                                        hvdjcshbscjkbscskjb
                                        hvdsjhcb
                                    </p>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>
    <footer class="text-center">Copyright & copy; 2021 All right reserved by coding alien</footer>
</body>